/*  your css code here. If applicable */
    .container {
      width: 300px;
      height: 100px;
      background-color: grey;
      border-radius: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around; /* Distribute lights evenly */
      align-items: center;
    }
div.green{
	
	height:80px;
	width:80px;
	background-color:green;
	border-radius:50%;
	padding:1px;
	
	
	
}
div.yellow{
	height:80px;
	width:80px;
	background-color:yellow;
	border-radius:50%;
padding:1px;
}
div.red{
	height:80px;
	width:80px;
	background-color:red;
	border-radius:50%;
padding:1px;
	
}