/*  your css code here. If applicable */
    .traffic-signal {
      width: 300px;
      height: 100px;
      background-color: #333;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around; /* Distribute lights evenly */
      align-items: center;
    }
div.green{
	
	height:80px;
	width:80px;
	background-color:green;
	border-radius:50%;
	
	
	
}
div.yellow{
	height:80px;
	width:80px;
	background-color:yellow;
	border-radius:50%;

}
div.red{
	height:80px;
	width:80px;
	background-color:red;
	border-radius:50%;

	
}